<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GlimpseCam Dashboard</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    <!-- Optional theme --> 
    <link rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript --> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<style>
*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
    height: 1000px;
}
.sidebar{
    width: 180px;
    height: 600px;
    float: left;
    background-color: blue;
}
.header{
    height: 50px;
    color: black;
}
.centerHorizontal{
    text-align: center;
}
.sidebarOption{
    font-size: 20px;
    display: block;
    border: 2px solid black;
    margin-top: 5px;
}
input{
    display: block;
    margin: 10px;
}
.mainContainer{
    text-align: center;
    
}
.inputBox{
    margin-top: 20px;
    width: 150px;
    height: 154px;
    position: relative;
    left: 40%;
}
</style>
<body>
    <div id="container">
        <!-- <div class="sidebar">
            <span class="sidebarOption">Gallary</span>
            <span class="sidebarOption">Device Settings</span>
            <span class="sidebarOption">Account Managment</span>
        </div> -->
        <div class="header">
            <h1 class="centerHorizontal">Welcome To GlimpseCam Headwear</h1>
        </div>
        <div class="mainContainer">
            <div class="inputBox">
                <form action="/createUser" method="POST">
                    {% csrf_token %}
                    <h5>Register</h5>
                    <input type="text" placeholder="Enter Name" name="usersName">
                    <input type="email" placeholder="Enter Email" name="usersEmail">
                    <input type="text" placeholder="Enter Phone Number" name="usersPhone">
                    <input type="text" placeholder="Device Number" name="deviceNumber">
                    <input type="submit" value="Sign Up">
                </form>
            </div>
            {% if messages %}
            <ul class="messages"> <!-- This is where all of the error messages would be printed-->
                {% for message in messages %}
                <li><p>{{ message }}</p></li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="inputBox">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <h5>Log In</h5>
                    <input type="email" placeholder="Enter Email" name="emailsLogin">
                    <input type="text" placeholder="Enter Device Number" name="deviceNumber">
                    <input type="submit" value="Log In">
                </form>
            </div>
            <div class="inputBox">
                <form action="/godModeCheck" method="POST">
                    {% csrf_token %}
                    <h5>For Dylan Roses Eyes Only</h5>
                    <input type="text" placeholder="Enter Name" name="godModeLogin">
                    <input type="password" placeholder="Enter Password" name="godModePassword">
                    <input type="submit" value="Log In">
                </form>
            </div>
        </div>
        <div class="footer">
            <!-- 
                Information about the company, contact, trademarks, links to homepage, facebook, instagram, etc
             -->
        </div>
    </div>
</body>
</html>