<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>God Mode</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="main.js"></script>
</head>
<style>
.centerHorizontal{
    text-align: center;
}
.camera{
    width: 20%;
    height: 50px;
    background-color: aqua;
}
.contentContainer{
    display: inline-block;
}
.container{
    width: 100%;
    height: 100%;
}
</style>
<body>
    <div class="container">
        <div class="header"></div>
            <h1 class="centerHorizontal">GOD MODE</h1>
        </div>
        <div class="contentContainer">
            <div class="camera">
                <h2>Image Tag</h2>
                <p>Cam Number</p>
            </div>
            <div class="camera">

            </div>
            <div class="camera">

            </div>
            <div class="camera">

            </div>
        </div>
    </div>

</body>
</html>